.git
.gitignore
.DS_Store

node_modules
**/node_modules

bin
tmp
coverage.out
coverage.html
build-errors.log

web/dist
internal/web/static/*
!internal/web/static/.gitkeep

sdks/python/.venv
sdks/python/.pytest_cache
**/.pytest_cache
**/__pycache__
**/*.pyc

.air.toml
.env
.env.*

Continua Design System (2)
